# Project exclude paths
/.gradle/
/Game of Life/task/build/
/Game of Life/task/out/
/Game of Life/task/out/production/classes/
/Topics/Anonymous classes/String reverser/out/
/Topics/Anonymous classes/String reverser/out/production/classes/
/Topics/Anonymous classes properties/Managing a process/out/
/Topics/Anonymous classes properties/Managing a process/out/production/classes/
/Topics/Interruptions/Interrupting a thread/out/
/Topics/Interruptions/Interrupting a thread/out/production/classes/
/Topics/Method references/Ascending and descending sorting/out/
/Topics/Method references/Ascending and descending sorting/out/production/classes/
/Topics/Thread management/Summing with threads/out/
/Topics/Thread management/Summing with threads/out/production/classes/